<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Music App</h1>
    <% if logged_in? %>
      <section class="user_block">
      <h4 class="user">Logged in as <%= current_user.email %>
      <form class="user" action="<%= session_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form></h4>
      </section>
    <% end %>
    <hr>
    <% if flash[:errors] %>
        <p class="errors"><%= flash[:errors].join(", ") %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
